Connected Services/ServiciosGUC/Main2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecurityService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecurityService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Applications" nillable="true" type="tns:ArrayOfApplication" />
      <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="CentrosCostos" nillable="true" type="tns:ArrayOfApplicationCentroCosto" />
      <xs:element minOccurs="0" name="ForeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Menus" nillable="true" type="tns:ArrayOfApplicationMenu" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="ArrayOfApplication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Application" nillable="true" type="tns:Application" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplication" nillable="true" type="tns:ArrayOfApplication" />
  <xs:complexType name="Application">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="App_Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="App_ID" type="xs:int" />
      <xs:element minOccurs="0" name="App_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cargo_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Cargo_Jefe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Menu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumAsociado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Application" nillable="true" type="tns:Application" />
  <xs:complexType name="ArrayOfApplicationCentroCosto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationCentroCosto" nillable="true" type="tns:ApplicationCentroCosto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationCentroCosto" nillable="true" type="tns:ArrayOfApplicationCentroCosto" />
  <xs:complexType name="ApplicationCentroCosto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:int" />
      <xs:element minOccurs="0" name="AliasCentro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Base" type="xs:int" />
      <xs:element minOccurs="0" name="CentroCosto_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reembolso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationCentroCosto" nillable="true" type="tns:ApplicationCentroCosto" />
  <xs:complexType name="ArrayOfApplicationMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationMenu" nillable="true" type="tns:ApplicationMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationMenu" nillable="true" type="tns:ArrayOfApplicationMenu" />
  <xs:complexType name="ApplicationMenu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Controlador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Menu_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Padre" type="xs:int" />
      <xs:element minOccurs="0" name="Posicion" type="xs:int" />
      <xs:element minOccurs="0" name="Vista" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationMenu" nillable="true" type="tns:ApplicationMenu" />
  <xs:complexType name="CentroCostosData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentrosCostos" nillable="true" type="tns:ArrayOfApplicationCentroCosto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentroCostosData" nillable="true" type="tns:CentroCostosData" />
</xs:schema>