Connected Services/ServiciosGUC/Main.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Main" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tovawebapp02.grupotova.local/securityservice/Main.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tovawebapp02.grupotova.local/securityservice/Main.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tovawebapp02.grupotova.local/securityservice/Main.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SecurityService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AccesoModulo_InputMessage">
    <wsdl:part name="parameters" element="tns:AccesoModulo" />
  </wsdl:message>
  <wsdl:message name="IService_AccesoModulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccesoModuloResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMenuCompletoSB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuCompletoSB" />
  </wsdl:message>
  <wsdl:message name="IService_GetMenuCompletoSB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuCompletoSBResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMenuCompletoSUM_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuCompletoSUM" />
  </wsdl:message>
  <wsdl:message name="IService_GetMenuCompletoSUM_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuCompletoSUMResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCentroCostoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCentroCostoUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_GetCentroCostoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCentroCostoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCentrosCosto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCentrosCosto" />
  </wsdl:message>
  <wsdl:message name="IService_GetCentrosCosto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCentrosCostoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMenus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenus" />
  </wsdl:message>
  <wsdl:message name="IService_GetMenus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenusResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Authenticate" message="tns:IService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AuthenticateResponse" message="tns:IService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccesoModulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AccesoModulo" message="tns:IService_AccesoModulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AccesoModuloResponse" message="tns:IService_AccesoModulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuCompletoSB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMenuCompletoSB" message="tns:IService_GetMenuCompletoSB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMenuCompletoSBResponse" message="tns:IService_GetMenuCompletoSB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuCompletoSUM">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMenuCompletoSUM" message="tns:IService_GetMenuCompletoSUM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMenuCompletoSUMResponse" message="tns:IService_GetMenuCompletoSUM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCentroCostoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCentroCostoUsuario" message="tns:IService_GetCentroCostoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCentroCostoUsuarioResponse" message="tns:IService_GetCentroCostoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCentrosCosto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCentrosCosto" message="tns:IService_GetCentrosCosto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCentrosCostoResponse" message="tns:IService_GetCentrosCosto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMenus" message="tns:IService_GetMenus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMenusResponse" message="tns:IService_GetMenus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccesoModulo">
      <soap:operation soapAction="http://tempuri.org/IService/AccesoModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuCompletoSB">
      <soap:operation soapAction="http://tempuri.org/IService/GetMenuCompletoSB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuCompletoSUM">
      <soap:operation soapAction="http://tempuri.org/IService/GetMenuCompletoSUM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCentroCostoUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/GetCentroCostoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCentrosCosto">
      <soap:operation soapAction="http://tempuri.org/IService/GetCentrosCosto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenus">
      <soap:operation soapAction="http://tempuri.org/IService/GetMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccesoModulo">
      <soap:operation soapAction="http://tempuri.org/IService/AccesoModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuCompletoSB">
      <soap:operation soapAction="http://tempuri.org/IService/GetMenuCompletoSB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuCompletoSUM">
      <soap:operation soapAction="http://tempuri.org/IService/GetMenuCompletoSUM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCentroCostoUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/GetCentroCostoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCentrosCosto">
      <soap:operation soapAction="http://tempuri.org/IService/GetCentrosCosto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenus">
      <soap:operation soapAction="http://tempuri.org/IService/GetMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Main">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://tovawebapp02.grupotova.local/securityservice/Main.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService" binding="tns:BasicHttpsBinding_IService">
      <soap:address location="https://tovawebapp02.grupotova.local/securityservice/Main.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>